.contact-text {
    width: 50rem;
    margin-bottom: 3rem;
    text-align: center;
}

.contact-socials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 13px;
}

.stevens-email:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .contact-text {
      width: 100%;
    }
  
    .contact-socials-container {
      flex-direction: column;
    }
  
    .contact-info-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .contact-info-container span {
      margin-right: 5px;
    }
  
    .stevens-email {
      word-break: break-all;
    }
  }